{% extends "index.html" %}

{% block title %}
Detalle de Clase
{% endblock %}

{% block contenidoQueCambia %}
<section class="fondo-gris text-center">
    <h1>Detalle de Clase</h1>
    <div class="detalle">
        <p><strong>Nombre:</strong> {{ object.nombre }}</p>
        <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
    </div>

    <a href="{% url 'ActualizarClase' object.pk %}" class="btn btn-primary">Editar</a> |
    <a href="{% url 'EliminarClase' object.pk %}" class="btn btn-danger">Eliminar</a>
    <button onclick="window.history.back();" class="btn btn-secondary d-block mx-auto mt-4">Volver a clases</button>
</section>
{% endblock %}