{% extends "index.html" %}

{% block title %}
Actualizar Clase
{% endblock %}

{% block contenidoQueCambia %}
<section class="fondo-gris text-center">
    <h1>Actualizar Clase</h1>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    <br>
    <a href="{% url 'ListaClase' %}" class="btn btn-secondary">Volver a la Lista</a>
    <button onclick="window.history.back();" class="btn btn-secondary">Atrás</button>
</section>
{% endblock %}